repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        additional_dependencies: [black]
        args: [.]
        pass_filenames: false
        stages: [push]

      - id: mypy
        name: mypy
        entry: python -m mypy
        language: python
        additional_dependencies: [mypy, types-PyYAML, black, ruamel.yaml, pyyaml>=6.0.2, esprima>=4.0.1, mako>=1.3.10]
        args: [".", "--exclude", '^(build/|\.venv/|\.mypy_cache/|\.pytest_cache/)', "--explicit-package-bases"]
        pass_filenames: false
        stages: [push]

      - id: pytest
        name: pytest
        entry: pytest
        language: python
        additional_dependencies:
          - pytest
          - esprima>=4.0.1
          - mako>=1.3.10
          - pyyaml>=6.0.2
          - black>=24.0.0
          - ruamel.yaml>=0.18.0
        args: [-q]
        pass_filenames: false
        always_run: true
        stages: [push]
